<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/{{css}}>">
    <link rel="icon" href="../../../../../img/logo_tenrac.jpg">
    <title>{{pageTitle}}</title>
</head>
<body>
<header>
    <div class="boxed">
        <div class="flex aligncenter space-between">
           <!-- <button onclick="openMenu()" class="header-menu-mobile"> -->
                <span class="material-icons">menu</span>
            </button>
            <a class="header-logo" href="/home">
                <img src="../../../../../img/logo_tenrac.png" alt="logo_tenrac">
            </a>
            <ul class="header-menu">
                {{menu}}
            </ul>
        </div>
    </div>
</header>