/* Réinitialisation générale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style du corps */
body {

    background: linear-gradient(135deg, #ff914d 0%, #ff3b3b 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

/* Conteneur du formulaire */
form {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Style du titre */
h1 {
    text-align: center;
    color: #ff3b3b;
    font-size: 2rem;
    margin-bottom: 20px;
}


.error-message {
    color: red;
    background-color: #ffe6e6;
    border: 1px solid red;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
}


/* Champs de texte */
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

/* Style du bouton */
input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #ff3b3b;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #ff763b;
}

/* Texte supplémentaire */
p {
    font-size: 0.9rem;
    color: #666;
    text-align: center;
    margin-top: 20px;
}

/* Version responsive */
@media (max-width: 768px) {
    form {
        padding: 30px;
    }

    h1 {
        font-size: 1.8rem;
    }

    input[type="submit"] {
        font-size: 1.1rem;
    }
}

footer {
    /*position: fixed;*/
    width: 100%;
    background-color: #ff3b3b; /* couleur similaire à ton header */
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0; /* Garde le footer en bas */
    box-sizing: border-box;
}


#footer-menu{
    padding: 0% 30% ;
    color: black;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

#footer-menu ul{
    padding-inline-start: 0;
    text-align: center;
    padding: 5%;
}

#footer-menu li{
    flex: 1 1 !important;
    text-align: center;
    padding-bottom: 2%;
}

#footer-menu a{
    text-decoration: none;
    color: black;
}

#footer-menu a:hover{
    text-decoration: none;
    color: #ffffff;
}

#credits p{
    padding: 0% 30%;
    text-align: center;
    font-size: 75%;
}