@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f0f0;
}

.slider {
    width: 100%;
    min-height: 80vh;
    position: relative;
    overflow: hidden;
}

.main{
    width: 100%;
    color: red;
    min-height: 80vh;
    position: relative;
    overflow: hidden;
}

.slider-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
    position: absolute;
    top: 0;
    left: 0;
}

.slider-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

h1 {
    font-size: 5rem;
    color: #f3aa00;
}

h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 50px;
}

p {
    font-size: 1.5rem;
    line-height: 1.5em;
}

.slider-content p {
    font-size: 2rem;
    color: #fff;
    font-weight: 300;
}

.section {
    padding: 100px 0;
    flex: 1;
}

.boxed {
    max-width: 1280px;
    margin-inline: auto;
}

.flex {
    display: flex;
}

.dark {
    background-color: black;
    color: #ffffff;
    flex: 1;
}

.red {
    background-color: red;
    color: #ffffff;
    flex: 1;
}

.coca {
    width: 30%;
    height: 100%;
 }

.fanta {
    width: 67%;
    height: 75%;
}

.sprite {
    width: 50%;
    height: 75%;
}

.w40 {
    width: 40%;
}

.w60 {
    width: 60%;
}

.text-center {
    text-align: center;
}

.w25 {
    width: 25%;
}

.w32 {
    width: 32%;
}

.space-between {
    justify-content: space-between;
}

.gap20 {
    gap: 20px;
}

.Plats {
    background: #f3aa00;
    border-radius: 15px;
    padding: 25px;
    box-sizing: border-box;
}

.PLats img {
    width: 25%;
    height: 50%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.Plats h3 {
    margin-top: 10px;
}

.realisation {
    height: auto;
    aspect-ratio: 1/1;
    position: relative;
}

.realisation h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    width: max-content;
    color: #FFF;
}

.realisation a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.realisation img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
    transition: .4s ease;
}

.realisation img:hover {
    filter: brightness(70%);
}

.icon {
    display: block;
    font-size:100px !important;
}

.label {
    color: black;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 1.5rem;
}

.value {
    display: block;
    font-size: 1.2rem;
}

.contact {
    padding: 100px 0;
    background-color: #f0f0f0;
}

.contact h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #555;
}

.aligncenter {
    align-items: center;
}

header {
    background-color: #ff3b3b;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: relative;
    overflow: hidden;
}

p{
    color: black;
}

.header-logo {
    display: block;
}

.header-logo img {
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.header-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.header-menu li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
    box-sizing: border-box;
    transition: 0.2s ease;
}

.header-menu li a:hover {
    background-color: #f3aa00;
    color: #fff;
}

.header-menu-mobile {
    display: none;
}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 900;
    display: none;
}


.header-menu.active ~ #overlay {
    display: block;
}


.active + #overlay {
    display: block;
}

.header-menu {
    z-index: 1000;
}


@media(max-width: 810px){

    .header-menu li a {
        text-decoration: none;
        color: white;
        padding: 10px 5px;
        display: block;
        box-sizing: border-box;
        transition: 0.2s ease;
    }
    .active {
        display: flex;
    }

    .slider {
        min-height: 60vh;
    }

    .slider-content p {
        margin-top: 20px;
        font-size: 1.5rem;
        text-wrap: balance;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.85rem;
        margin-bottom: 20px;
    }

    p{
        font-size: 1.2rem;
        text-wrap: balance;
    }
    .toColumn {
        flex-direction: column;
    }

    .mCenter {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .wm100 {
        width: 100%;
    }

    .section {
        padding: 50px;
    }
    .boxed {
        max-width: 90%;
    }
}

footer {
    width: 100%;
    background-color: #ff3b3b;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    box-sizing: border-box;
}


#footer-menu{
    padding: 0% 30% ;
    color: black;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

#footer-menu ul{
    padding-inline-start: 0;
    text-align: center;
    padding: 5%;
}

#footer-menu li{
    flex: 1 1 !important;
    text-align: center;
    padding-bottom: 2%;
}

#footer-menu a{
    text-decoration: none;
    color: black;
}

#footer-menu a:hover{
    text-decoration: none;
    color: #ffffff;
}

#credits p{
    padding: 0% 30%;
    text-align: center;
    font-size: 75%;
}

#listeplat{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #f1a901;
    border-radius: 10px;
    border: 3px solid #000000;
}

.listeverticale div {
    display: block;
     }
.img {
    max-width: 25%; /* Ne dépasse jamais la largeur du conteneur parent */
    height: auto; /* Ajuste la hauteur pour maintenir le ratio d'aspect */
    display: block; /* Évite les espaces blancs en dessous des images inline */
}